# Ignore node_modules
/node_modules/

/prisma
/src/plugins/
/src/routes/
/src/services/
/src/types/
/src/utils/
/src/prisma.ts
.env

# Ignore log files
*.log

# Ignore OS files
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore user files
Desktop.ini
Thumbs.db
ehthumbs.db
*.suo
*.ntf
*.crdownload
*.crdownloadpartial
*.part
*.tmp

# Ignore build files
build/
dist/

# Ignore cache files
npm-cache/
yarn.lock
yarn-error.log
pnpkg.log
cache/
.local-chromium/
chromium-ffmpeg.sum
chromium-ffmpeg.log
chromium-ffmpeg-nvvp.sum
chromium-ffmpeg-nvvp.log

# Ignore config files
*.cfg
*.conf
*.ini
*.log
*.psd1
*.sublime-session
config.xml
config.exs
*.exs
*.exs_checkpoints